# Compiled Python files
/scripts/custom_colormaps.pyc
/scripts/custom_colormap_functions.pyc

# Data files
/data/cmb.npz
/data/complex.npz
/data/kh.npz
/data/ray.npz
/data/torus_j.npz
/data/torus_rho.npz

# Plot files
/plots/
