# Compiled Python files
/scripts/custom_colormaps.pyc

# Data files
/data/cmb.npz
/data/complex.npz
/data/kh_bb_ratio.npz
/data/kh_rho.npz
/data/ray.npz
/data/torus_j.npz
/data/torus_rho.npz

# Plot files
/plots/
